<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MinerPath" value="C:\Crypto\Tools\ccminer-x64-2.2.4-cuda9\"/>
    <add key="CCMinerName" value="ccminer-x64"/>
    <add key="MinerName" value="RunGarlicPoolMiner.bat"/>
    <add key="CatalystName" value="StartMiner.bat"/>
    <add key="MaxTemp" value="85"/>
  </appSettings>
</configuration>