<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MinerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <userSettings>
    <MinerManager.Properties.Settings>
      <setting name="MinerPath" serializeAs="String">
        <value>C:\Crypto\Tools\ccminer-x64-2.2.4-cuda9\</value>
      </setting>
      <setting name="CCMinerName" serializeAs="String">
        <value>ccminer-x64</value>
      </setting>
      <setting name="MinerName" serializeAs="String">
        <value>RunGarlicPoolMiner.bat</value>
      </setting>
      <setting name="CatalystName" serializeAs="String">
        <value>StartMiner.bat</value>
      </setting>
      <setting name="MaxTemp" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="PreferredPool" serializeAs="String">
        <value>stratum+tcp://us.pool.garlicsoup.xyz:3333</value>
      </setting>
      <setting name="PreferredAlgorithmIndex" serializeAs="String">
        <value>scrypt:10</value>
      </setting>
      <setting name="WalletAddress" serializeAs="String">
        <value>GRmjX8YfkHXZWL6GPHgnRAC7PjrHqfHzvy</value>
      </setting>
      <setting name="PreferLookupGap" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreferToSelfMine" serializeAs="String">
        <value>True</value>
      </setting>
    </MinerManager.Properties.Settings>
  </userSettings>
</configuration>