<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MinerPath" value="C:\Crypto\Tools\ccminer-x64-2.2.4-cuda9\RunGarlicPoolMiner.bat"/>
    <add key="MinerCatalystPath" value="C:\Crypto\Tools\ccminer-x64-2.2.4-cuda9\StartMiner.bat"/>
  </appSettings>
</configuration>